body{
    height: 100%;
    position: relative;
}

#loader{
    width: 300px;
    height: 300px;
    margin: auto;
}
.error{
    color: red;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bolder;
}

.navbar-brand{
    text-transform: uppercase;
    color: whitesmoke!important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
    padding: 10px 20px;
    background-color: purple;
    border-radius: 20%;
    font-size: 18px;
    line-height: 20px;
}
.nav-item{
    
    margin-left: 10px;
}

/* .container>h2{ */
#header{
    margin: 10px 0;
    padding: 50px 0;
    background-color: #4790DE;
    color: white;
    text-align: center;
    cursor: pointer;
}
.jumbotron{
    width: 100%;
    height: 500px;
}

.overflow{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgb(255,255,255,0.8);
}

.item-card{
    position: relative;
    margin-bottom: 20px;
    box-shadow: 10px 10px 20px 2px rgb(32, 32, 32);
}
.item-card #item-id{
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 50px;
    text-align: center;
    position: absolute;
}

.item-card #item-star .fa-star{
    transform: scale(2);
    margin: 10px;
}
.fa.fa-star.checked {
    color: orange;
  }
.map{
    margin: 20px;
}
@media screen and (min-width: 1200px){
    .jumbotron{
        background-image: url('../images/jumbotron_1200.jpg');
    }
    .navbar-brand{
        display: block;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .jumbotron{
        background-image: url('../images/jumbotron_992.jpg');
    }
    .navbar-brand{
        display: none;
    }
}

@media screen and (max-width: 991px){
    .jumbotron{
        background-image: url('../images/jumbotron_768.jpg');
    }
    .navbar-brand{
        display: none;
    }
}
