*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: monospace, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body,html{
    
    height: 100%;
    background-color: #0082e6;
}

nav {
    /* margin-top: 20px; */
    /* background-color: #2f1ff4; */
    height: 80px;
    width: 100%;
}
label.logo{
    float: left;
    font-size: 35px;
    line-height: 80px;
    page-break-after: 0 100px;
    font-weight: bold;
    padding-left: 20px;
    width: 80px;
}
label.logo img{
    padding-top: 20px;
    width: 80px;
    height: 60px;
}
nav ul{
    width: 80%;
}
nav ul.right{
    float: right;
    margin-right: 20px;
}
nav ul.left{
    float: left;
    margin-left: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0;
}
nav ul li a,nav ul li .btn{
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
}
nav ul li.list-r{
    float: right;
}

a.active,a:hover{
    background: #1b9bff;
    color: white;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display:none;
}
nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid #ddd;
  }
nav .search-container button {
    float: right;
    padding: 7px 10px;
    margin-top: 22px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
.btn{
    border: 1px solid #3498db;
    background:  none;
    transition: .5s;
    overflow: hidden;
    cursor: pointer;
    padding: 20px;
    margin-right: 10px;
}
.btn:focus{
    outline: none;
}
.btn:hover{
    background-color: #2f1ff4;
    color: white;
}

.btn-group{
    display: flex;
    justify-content: flex-end;
}
.btn-group button {
    background-color: #4CAF50;
    border: 1px solid green; 
    color: white;
    padding: 10px 10px; 
    cursor: pointer; 
    margin-bottom: 10px;
}
  
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  


  .btn-group button:hover,.btn-group button.active,.btn-group button:focus {
    background-color: #3e8e41;
    border: none;
  }

.container{
    height: max-content;
    border-radius: 10px;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    position: relative;
    z-index: 1;
}

/* content */
.content{
    min-height: 500px;
    background-color: #0082e6;
    color: white;
    display: inline-flex;
    justify-content: space-around;
    padding: 50px 5%;
}

.content h2{
    width: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 34px;
    text-transform: uppercase;
}
.content h2 .fa.fa-trophy{
    color: gold;
    margin-left: 10px;
    
}
.content p{
    width: 50%;
    text-align: left;
    color: lightsteelblue;
    text-align: justify;
    padding: 10px;
    max-height: 100px;
    overflow: auto;
    margin-bottom: 20px;
}


/* table */
.tbcontainer{
    background-color: white;
    position: relative;
    top: -200px;
    padding: 25px;
    margin: 25px 5%;
    overflow: auto;
}
.table{
    background-color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    width: 100%;
    border-collapse: collapse;
}
.table tr{
    border:1px solid #ddd;
}
.table td,.table th{
    padding: 12px 16px;
    border: 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.table th{
    font-weight: bold;
}
.table tbody tr:nth-child(even){
    background-color: #f5f5f5;
}
.table .medals{
    display: flex;
    justify-content: center;
}
.table tr td:nth-child(2){
    text-transform: uppercase;
    font-family: monospace, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
    color: #0082e6;
    text-align: left;
    line-height: 50px;
}
.table tr .profile{
    display: inline-flex;
}
.table tr td:nth-child(4){color: rgb(200, 170, 0);}
.table tr td:nth-child(5){color: rgb(172, 172, 172);}
.table tr td:nth-child(6){color: brown;}
.table tr td:nth-child(7){color: green;}



@media (max-width: 992px){
    
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a,nav ul li .btn{
        font-size: 16px;
        color: white;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        max-width: 50%;
        height: 100vh;
        background: #2c3e50;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 10px 0;
        padding: 10px 0;
        line-height: 30px;
        border-bottom: 1px solid;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav ul li.list-r{
        float: none;
    }
    a:hover,a.active{
        background: none;
        color:#0082e6;
    }
    #check:checked ~ ul{
        left:-20px;
    }
    nav .search{
        display: none;
    }



    .content{
        width: 100%;
        padding: 20px 5%;
        flex-direction: column;
        justify-content: start;
    }
    .content h2,.content p{
        width: 100%;
    }
    .table{
        box-shadow: none;
        min-width: 400px;
    }
    .table thead{
        display: none;
    }
    .table,.table tbody,.table tr,.table td{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 20px;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    }
    .table td{
        text-align: right;
        padding-left: 50%;
        text-align: center;
        position: relative;
    }
    .table td::before{
        content: attr(data-label);
        position: absolute;
        color: black;
        left: 0;
        width: 50%;
        padding-left: 50px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
    .table tr td:nth-child(3)::before{
        color: #2c3e50;
        line-height: 1rem;
        height: 50px;
        text-decoration: underline;
    }
    .table tr td:nth-child(4),.table tr td:nth-child(5),.table tr td:nth-child(6){
        height: 60px;
        line-height: 40px;
    }
    .table tr td:nth-child(2){text-align: center;
    }
    .table tr td:nth-child(4)::before{
        content: url("../img/gold-medal.png");
    }
    .table tr td:nth-child(5)::before{
        content: url("../img/bronze-medal.png");
    }
    .table tr td:nth-child(6)::before{
        content: url("../img/silver-medal.png");
    }

}
 

@media (min-width:576px) {
    .container{
    max-width: 540px;
}  
}@media (min-width:768px) {
    .container{
    max-width: 720px;
}
    
}@media (min-width:992px) {
    .container{
    max-width: 960px;
    
}
    
}@media (min-width:1200px) {
    .container{
    max-width: 1140px;
}
}@media (min-width:1400px) {
    .container{
    max-width: 1320px;
}
}