<h2 id="header">Categories</h2>

<div class="container">
    <div class="map">
        <a ui-sref="home">Home</a><span> > </span>Category
    </div>
    
    <div class="row">
        <div class="col-lg-4 col-md-6 d-flex justify-content-center align-items-stretch" style="margin-bottom:50px;" 
        ng-repeat="item in $ctrl.category" ng-if="$index!=0" >
            <menu-tile 
                class="d-flex  align-items-stretch"
                title="{{item.name}}"
                src = "{{item.short_name | srcFilter}}"
                content = "{{item.special_instructions}}"
                sref = "{{'items' | urlFilter:item.name:item.short_name}}"
                btnval = "View"
            ></menu-tile>
        </div>
    </div>
</div>