<h2 id="header">Welcome To Restaurant</h2>
<div class="container">
    <div class="jumbotron img-responsive"></div>
    <!-- <img src="images/jumbotron_1200.jpg" class="img-responsive" alt="jumbotron_1200"> -->
    <div class="row card-row">
        <div class="col-md-6 col-sm-6 d-flex justify-content-center">
            <menu-tile 
                title="Menu Items"
                src = "images/menu-tile.jpg"
                content = "Delicious chinese food.
                To Celebrate A Cuisine That Is So Rich, We Bring You The 19 Most Authentic Chinese Recipes"
                sref = "category"
                btnval = 'Menu category'
            ></menu-tile>
        </div>
        <div class="col-md-6 col-sm-6 d-flex justify-content-center">
            <menu-tile 
                title="Special Items"
                src = "images/specials-tile.jpg"
                content = "The great collection of 19 chinese recipes and dishes from popular chefs at special Offer."
                sref = "items"
                btnval = "Special Items"
            ></menu-tile>
        </div>
    </div>
</div>